@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte1: 'Montserrat', sans-serif;
    --fonte2: 'Krona One', sans-serif;
    --cor1: #22D4FD;
    --cor2: #272727;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: black;
    color: white;
}

.principal {
    margin: 2em;
    display: flex;
    flex-direction: column-reverse;
}

.principal-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal-secao-titulo,
.principal-secao-subtitulo {
    font: 400 1.2em var(--fonte2);
    line-height: 1.5em;
}

.destaque {
    color: var(--cor1);
}

.principal-secao-texto {
    font: 200 1em var(--fonte1);
    line-height: 1.5em;
    margin: 1em 0;
}

.principal-secao-social {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.principal-secao-social-titulo {
    font: 400 1em var(--fonte2);
}

.principal-secao-social-icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

.git,
.twitch {
    border: 1px solid var(--cor1);
    border-radius: 50%;
    padding: 1em;
}

@media screen and (min-width: 600px) {
    .principal {
        margin: 6em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
    }
    .principal-secao-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: .8em;        
    }
    .principal-secao-titulo {
        font-size: 2.7em;
    }
    .principal-secao-img {
        border-radius: .5em;
    }
    .principal-secao-social-links-link:hover {
        background-color: var(--cor2);
        transition: .3s;
    }
}